{% macro render_accounts() %}
account cost "Primary cost account" {
    account resCost "Resources costs" {
        aggregate resources
    }
    account taskCost "Tasks costs" {
        aggregate tasks
    }
}
account rev "Primary revenue account"
{% endmacro %}