{% macro accounts(accounts) %}
{%- for account in accounts %}
account {{ account.id }} "{{ account.name }}" {
    {% if account.aggregate %}
    aggregate {{ account.aggregate }}
    {% endif %}

    {%- if account.flags %}
    flags {{ account.flags | join(', ') }}
    {% endif %}

    {%- for credit in account.credits %}
    credits {{credit.get("date")}} "{{credit.get("description")}}" {{credit.get("amount")}}
    {% endfor %}
}
{% endfor %}
{% endmacro %}