# ----------------Project Header-------------
{% import "project_header.j2" as project_header %}
{{ project_header.header(project, scenarios) }}
# ------------END-------------

# ------------Shifts-------------
{% import "shifts.j2" as shift %}
{{ shift.shifts(shifts) }}
# ------------END-------------


# ------------Flags-------------
{% if flags %}
flags
{{ flags | join(',\n') }}
{% endif %}
# ------------END-------------


# ----------------Accounts-------------
{% import "accounts.j2" as account %}
{{ account.accounts(accounts) }}
# ------------END-------------


# ------------Resources-------------
{% import "resources.j2" as resource %}
{{ resource.resources(resources) }}
# ------------END-------------



# ------------Tasks-------------
{% import "tasks.j2" as task %}
{{ task.tasks(tasks) }}
# ------------END-------------


