# ----------------Project Header-------------
{% if project %}
{% import "project_header.j2" as project_header %}
{{ project_header.header(project, scenarios, reports.main_dir) }}
{% endif %}
# ------------END-------------

# ------------Shifts-------------
{% if shifts %}
{% import "shifts.j2" as shift %}
{{ shift.shifts(shifts) }}
{% endif %}
# ------------END-------------


# ------------Flags-------------
{% if flags %}
flags
{{ flags | join(',\n') }}
{% endif %}
# ------------END-------------


# ----------------Accounts-------------
{% import "accounts.j2" as account %}
{{ account.render_accounts() }}
# ------------END-------------


# ------------Resources-------------
{% if resources %}
{% import "resources.j2" as resource %}
{{ resource.render_resources(resources) }}
{% endif %}
# ------------END-------------



# ------------Tasks-------------
{% if tasks %}
{% import "tasks.j2" as task %}
{{ task.render_tasks(tasks) }}
{% endif %}
# ------------END-------------



# ------------Reports-------------
{% if reports %}
{% import "reports.j2" as reporter %}
{{ reporter.render_reports() }}
{% endif %}
# ------------END-------------
