{% macro header(project, scenarios, output_dir) %}
project {{project.id}} "{{project.name}}" {{project.start}} +{{project.duration}}{{project.duration_unit[0]}} {
{% if project.timezone %}
    timezone "{{project.timezone}}"
{% endif %}

{%- if project.currency %}
    {% if project.currency == "ریال" %}
    currency "IRR"
    {% else %}
    currency "{{project.currency}}"
    {% endif %}
{% endif %}

{%- if project.now %}
    now {{project.now}}
{% endif %}

{%- if project.workinghours %}
    {% for key in project.workinghours.keys() | list %}
    {% set day = project.workinghours.get(key, {}) %}
    {% if not day %}
    workinghours {{key}} off
    {% elif day.get("start") and day.get("end") %}
    workinghours {{key}} {{day["start"]}} - {{day["end"]}}
    {% endif %}
    {% endfor %}
{% endif %}

{%- if project.markdate %}
    markdate {{project.markdate}}
{% endif %}

{%- if project.dailyworkinghours %}
    dailyworkinghours {{project.dailyworkinghours}}
{% endif %}

{%- if project.timingresolution %}
    timingresolution {{project.timingresolution}}min
{% endif %}

{%- if project.yearlyworkingdays %}
    yearlyworkingdays {{project.yearlyworkingdays}}
{% endif %}

{%- if project.weekstartsmonday %}
    weekstartsmonday
{%- elif project.weekstartssunday %}
    weekstartssunday
{% endif %}
    outputdir "{{ output_dir }}"

# ------------Scenarios-------------
{% import "scenarios.j2" as scenario %}
{{ scenario.render_scenarios() }}
# ------------END-------------
}
{% endmacro %}

