{% macro render_reports() %}
taskreport taskReports "TaskReport" {
    headline "Tasks Table"
    formats csv, html
    columns
    bsi{title "wbs"}, 
    id{title "id"}, 
    name{title "name"},
    start{title "start"}, 
    end{title "end"},
    duration{title "duration"},
    effort{title "effort"}, 
    effortdone{title "effortDone"},
    effortleft{title "effortLeft"},
    priority{title "priority"},
    responsible{title "responsible"},
    resources{title "resources" listtype bullets width 200},
    status{title "status"},
    complete{title "complete"},
    cost { title "Total Cost" width 120 }

    balance cost rev
    sorttasks tree
}



taskreport workReport "WorkReport" {
  formats csv, html
  headline "Project Work Overview"
  columns 
    name { title "Project" }, 
    duration { title "Whole Duration(hours)" }, 
    effort { title "Whole Effort (hours)" }, 
    complete { title "Progress (%)" }, 
    effortdone { title "Done (hours)" }, 
    effortleft { title "Remaining (hours)" }
    loadunit hours
}


accountreport accountReport "CostReport" {
    formats csv, html
    headline "Project costs"
}
{% endmacro %}