


textreport projectGantt "project gantt" {
    formats html
}

resourcereport resourceUsage "Resources usage" {
    formats html
}

taskreport costReport "Tasks report" {
    formats html
    columns id, name
}
