{% macro render_reports(report_paths, scenario) %}
taskreport taskReports "{{report_paths.files.task}}" {
    headline "Tasks Table"
    formats html
    columns
    bsi{title "wbs"}, 
    id{title "id"}, 
    name{title "name"},
    start{title "start"}, 
    end{title "end"},
    duration{title "duration"},
    effort{title "effort"}, 
    effortdone{title "effortdone"},
    effortleft{title "effortleft"},
    priority{title "priority"},
    responsible{title "responsible"},
    resources{title "resources"},
    status{title "status"},
    inputs{title "prerequisted_milestones"},
    activetasks{title "active_sub_tasks"},
    opentasks{title "open_sub_tasks"},
    closedtasks{title "closed_sub_tasks"},
    complete{title "complete"},
    followers{title "followers"},
    precursors{title "depends_on"},
    criticalness{title "cricitalness"},
    pathcriticalness{title "path_criticalness"},
    gauge{title "schedule_gauge"},
    cost { title "cost"}

    balance cost rev
    sorttasks tree
    selfcontained yes
    {% if scenario %}
    scenarios {{ scenario.name }}
    {% endif %}
}

resourcereport resourceReports "{{report_paths.files.resource}}" {
    headline "Resources Table"
    formats html
    columns
    bsi{title "wbs"},
    id{title "id"},
    name{title "name"},
    rate{title "rate"},
    efficiency{title "efficiency"},
    cost{title "cost"},
    duties{title "assigned_tasks"},
    freetime{title "unallocated_work_time"},
    freework{title "unallocated_work_capacity"},
    criticalness{title "criticalness"},
    fte{title "full_time_equivalent"},
    managers{title "managers"}

    balance cost rev
    sortresources tree
    selfcontained yes
    {% if scenario %}
    scenarios {{ scenario.name }}
    {% endif %}
}
{% endmacro %}