{% macro render_resource(resource, scenario) %}
resource {{resource.id}} "{{resource.name}}" {
    {% if resource.rate %}
    rate {{resource.rate}}
    {% endif %}

    {%- if resource.email%}
    email {{resource.email}}
    {% endif%}

    {%- if resource.managers %}
    managers {{ resource.managers | join(', ') }}
    {% endif %}

    {%- if resource.flags %}
    flags {{ resource.flags | join(', ') }}
    {% endif %}

    {%- if resource.efficiency %}
    efficiency {{resource.efficiency}}
    {% endif %}

    {%- if resource.shifts %}
    shifts {{ resource.shifts | join(', ') }}
    {% endif %}

{%- if resource.workinghours %}
    {% for key in resource.workinghours.keys() | list %}
    {% set day = resource.workinghours.get(key, {}) %}
    {% if not day %}
    workinghours {{key}} off
    {% elif day.get("start") and day.get("end") %}
    workinghours {{key}} {{day["start"]}} - {{day["end"]}}
    {% endif %}
    {% endfor %}
{% endif %}

    {%- for leave in resource.leaves %}
    {% if leave.get("duration_unit") %}
    leaves {{leave.get("type")}} "{{leave.get("name")}}" {{leave.get("start")}} +{{leave.get("duration")}}{{leave.get("duration_unit")[0]}}
    {% endif %}
    {% endfor %}

    {%- for vacation in resource.vacation %}
    vacation "{{vacation.get("name")}}" {{vacation.get("start")}} - {{vacation.get("end")}}
    {% endfor %}

    {%- if resource.chargeset %}
    chargeset {{ resource.chargeset | join(', ') }}
    {% endif %}

    {%- if scenario and resource.scenario_specific_values %}
    {% import "resource_scenario_specific.j2" as resource_scenario_specific_builder %}
    {{ resource_scenario_specific_builder.render_scenario_specific(scenario.name, resource.scenario_specific_values) }}
    {% endif %}
}
{% endmacro %}
