{% macro resources(resources, info) %}
{% for resource in resources %}
resource {{resource.id}} "{{resource.name}}" {
    {% if resource.rate %}
    rate {{resource.rate}}
    {% endif %}

    {%- if resource.email%}
    email {{resource.email}}
    {% endif%}

    {%- if resource.managers %}
    managers {{resource.managers}}
    {% endif %}

    {%- if resource.flags %}
    flag {{ resource.flags | join(',\n') }}
    {% endif %}

    {%- if resource.efficiency %}
    efficiency {{resource.efficiency}}
    {% endif %}

    {%- if resource.shifts %}
    shifts {{resource.shifts}}
    {% endif %}

    {%- if resource.workinghours %}
        {% set days = resource.workinghours.keys() | list | first %}
        {% set hours = resource.workinghours.get(days) %}
    workinghours {{days}} {{hours[0]}}-{{hours[1]}}
    {% endif %}    

    {%- if resource.leaves %}
    {% for leave in resource.leaves %}
    {% set type = leave.keys() | list | first %}
    {% set date = leave.get(type) %}
    leaves {{type}} {{date}}
    {% endfor %}
    {% endif %}

    {%- for vacation in resource.vacation %}
    vacation {{vacation.get("name")}} {{vacation["interval"]["start"]}}-{{vacation["interval"]["end"]}}
    {% endfor%}

    {%- for sub_resource in resource.resources %}
    resource {{sub_resource["id"]}} "{{sub_resource["name"]}}"
    {% endfor %}
}

{% endfor %}
{% endmacro %}
