{% macro define_resource(resources, info, calendar) %}
{% for resource in resources %}
resource {{resource.resource_id}} "{{resource.resource_name}}" {
    {% if resource.base_cost %}
    rate {{resource.base_cost}}
    {% endif %}
    {% if resource.overtime_cost %}
    OvertimeCost {{ resource.overtime_cost }}
    {% endif %}
    {% if resource.accrue_at %}
    AccrueAt "{{ resource.accrue_at }}"
    {% endif %}
    {% if resource.actual_cost %}
    ActualCost {{resource.actual_cost}}
    {% endif %}
    {% if resource.resource_type %}
    Type "{{ resource.resource_type }}"
    {% endif %}
{#    {% if resource.availability_date %}#}
{#    Availability {{ resource.availability_date | join(' - ') }}#}
{#    {% endif %}#}
    {% if resource.max_units %}
    efficiency {{resource.max_units}}
    {% endif %}
    {% if resource.allowed_leave %}
    leaveallowances annual {{info.start_date}} {{ resource.allowed_leave }}
    {% endif %}
    {% if resource.working_hours == calendar.working_hours and resource.working_days == calendar.working_days %}
    shifts projectDefaultShift
    {% else %}
    {% if resource.working_days and resource.working_hours %}
    workinghours {{resource.working_days}} {{resource.working_hours}}
    {% endif %}
    {% endif %}
    {% if resource.unavailability_date %}
    leaves annual {{resource.unavailability_date}}
    {% endif %}
    {% if resource.working_hours_change %}
    WorkinghoursChange {{ resource.working_hours_change }}
    {% endif %}
    {% if resource.resource_group %}
    flags {{resource.resource_group}}
    {% endif %}
    {% if resource.cost_center %}
    chargeset {{resource.cost_center}}
    {% endif %}
}
{% endfor %}
{% endmacro %}
