{% macro shifts(shifts) %}

{%- for shift in shifts %}
shift {{shift.id}} "{{shift.name}}" {
    {% if shift.replace %}
    replace
    {% endif %}

    {%- if shift.timezone %}
    timezone "{{shift.timezone}}"
    {% endif %}

{%- if shift.workinghours %}
    {% for day in shift.workinghours.keys() | list %}
    {% set hours = shift.workinghours.get(day) %}
    {% if not hours %}
    workinghours {{day}} off
    {% else %}
    workinghours {{day}} {{hours[0]}} - {{hours[1]}}
    {% endif %}
    {% endfor %}
{% endif %}

    {%- if shift.leaves %}
    {% for leave in shift.leaves %}
    {% set type = leave.keys() | list | first %}
    {% set date = leave.get(type) %}
    leaves {{type}} {{date}}
    {% endfor %}
    {% endif %}

    {%- for sub_shift in shift.shifts %}
    shift {{sub_shift.get("id")}} "{{sub_shift.get("name")}}"
    {% endfor %}

    {%- if shift.vacation %}
    {% for vacation in shift.vacation %}
    {% set name = vacation.keys() | list %}
    {% set start_to_end = vacation.get(name) %}
    vacation {{name}} {{start_to_end.get("start")}} - {{start_to_end.get("end")}}
    {% endfor %}
    {% endif %}
}

{% endfor %}
{% endmacro %}
