{% macro shifts(shifts) %}

{%- for shift in shifts %}
shift {{shift.id}} "{{shift.name}}" {
    {% if shift.replace %}
    replace
    {% endif %}

    {%- if shift.timezone %}
    timezone "{{shift.timezone}}"
    {% endif %}

{%- if shift.workinghours %}
    {% for key in shift.workinghours.keys() | list %}
    {% set day = shift.workinghours.get(key, {}) %}
    {% if not day %}
    workinghours {{key}} off
    {% else %}
    workinghours {{key}} {{day["start"]}} - {{day["end"]}}
    {% endif %}
    {% endfor %}
{% endif %}

    {%- if shift.leaves %}
    {% for leave in shift.leaves %}
    leaves {{leave.get("type")}} "{{leave.get("name")}}" {{leave.get("start")}} +{{leave.get("duration")}}{{leave.get("duration_unit")[0]}}
    {% endfor %}
    {% endif %}

    {%- for vacation in shift.vacation %}
    vacation "{{vacation.get("name")}}" {{vacation.get("start")}} - {{vacation.get("end")}}
    {% endfor %}
}
{% endfor %}
{% endmacro %}
