{% macro define_task(task) %}
task {{ task.task_id }} "{{ task.task_name }}" {
{% if task.milestone %}
milestone
    {% if task.task_start_date %}
start {{ task.task_start_date }}
    {% elif task.task_end_date %}
end {{ task.task_end_date }}
    {% endif %}
{% endif %}
{% if task.task_start_date and task.task_end_date and not task.milestone %}
period {{ task.task_start_date }} - {{ task.task_end_date }}
{% elif not (task.task_start_date and task.task_end_date) and not task.milestone %}
{% if task.task_start_date %}
start {{ task.task_start_date }}
{% elif task.task_end_date %}
end {{ task.task_end_date }}
{% endif %}
{% endif %}
{% if task.work_duration and not(task.task_start_date and task.task_end_date) and not task.milestone %}
duration {{ task.work_duration }}d
{% endif %}
{% if task.resource_assignment %}
allocate {{ task.resource_assignment | join(', ') }}
{% endif %}
{% if task.task_dependency %}
depends {{ task.task_dependency | join(', ') }}
{% if task.dependency_type in ['onstart','onend'] %}{
{{task.dependency_type}}
}
{% endif %}
{% endif %}
{% if task.constraint_date and task.constraint_type %}
{% if task.constraint_type == 'start_no_earlier_than' %}
minstart {{ task.constraint_date }}
{% endif %}
{% if task.constraint_type == 'start_no_later_than' %}
maxstart {{ task.constraint_date }}
{% endif %}
{% if task.constraint_type == 'finish_no_earlier_than' %}
minend {{ task.constraint_date }}
{% endif %}
{% if task.constraint_type == 'finish_no_later_than' %}
maxend {{ task.constraint_date }}
{% endif %}
{% if task.constraint_type == 'must_finish_on' %}
minend {{ task.constraint_date }}
maxend {{ task.constraint_date }}
{% endif %}
{% if task.constraint_type == 'must_start_on' %}
minstart {{ task.constraint_date }}
maxstart {{ task.constraint_date }}
{% endif %}
{% endif %}
{% if task.deadline %}
Deadline {{task.deadline}}
{% endif %}
{% if task.priority %}
priority {{ task.priority }}
{% endif %}
{% if task.task_linking and task.need_task_linking %}
flags {{ task.task_linking }}
{% endif %}
{% if task.chargeset and task.need_chargeset %}
chargeset {{ task.chargeset }}
{% endif %}
{% if task.task_cost %}
charge {{ task.task_cost }} onend
{% endif %}
{% if task.summary_task %}
note "{{ task.summary_task }}"
{% endif %}
{% endmacro %}