{% macro render_task(task, scenario) %}
task {{ task.id }} "{{ task.name }}" {
    {% if task.milestone %}
    milestone
    {% endif %}

    {%- if task.note %}
    note "{{task.note}}"
    {% endif %}

    {%- if task.scheduling %}
    scheduling {{task.scheduling}}
    {% endif %}

    {%- if task.responsible %}
    responsible {{task.responsible}}
    {% endif %}

    {%- if task.shifts %}
    shifts {{ task.shifts | join(', ') }}
    {% endif %}

    {%- if task.chargeset and not task.inherited_chargeset %}
    chargeset {{ task.chargeset | join(', ') }}
    {% endif %}

    {%- if task.allocate %}
    allocate {{ task.allocate | join(', ') }}
    {% endif %}

    {%- if task.depends %}
    depends {{ task.depends | join(', ') }}
    {% endif %}

    {%- if task.precedes %}
    precedes {{ task.precedes | join(', ') }}
    {% endif %}

    {%- if task.scheduled %}
    scheduled
    {% endif %}

    {%- if task.priority %}
    priority {{task.priority}}
    {% endif %}

    {%- if task.effort %}
    effort {{task.effort}}h
    {% endif %}

    {%- if task.effortdone %}
    effortdone {{task.effortdone}}d
    {% endif %}

    {%- if task.duration %}
    duration {{task.duration}}d
    {% endif %}

    {%- if task.effortleft %}
    effortleft {{task.effortleft}}d
    {% endif %}

    {%- if task.length %}
    length {{task.length}}d
    {% endif %}

    {%- if task.complete %}
    complete {{task.complete}}
    {% endif %}

    {%- if task.maxstart %}
    maxstart {{task.maxstart}}
    {% endif %}

    {%- if task.minstart %}
    minstart {{task.minstart}}
    {% endif %}

    {%- if task.maxend %}
    maxend {{task.maxend}}
    {% endif %}

    {%- if task.minend %}
    minend {{task.minend}}
    {% endif %}

    {%- if task.start and not task.milestone %}
    start {{task.start}}
    {% endif %}

    {%- if task.end and not task.milestone %}
    end {{task.end}}
    {% endif %}

    {%- if task.charge %}
    charge {{task.charge}} onend
    {% endif %}

    {%- if task.flags %}
    flags {{ task.flags | join(', ') }}
    {% endif %}

    {%- if scenario and task.scenario_specific_obj %}
    {% import "task_scenario_specific.j2" as task_scenario_specific_builder %}
    {{ task_scenario_specific_builder.render_scenario_specific(scenario.name, task.scenario_specific_obj) | indent(4, false) }}
    {% endif %}

    {%- if task.sub_tasks_objs %}
    {% for sub_task in task.sub_tasks_objs %}

    {{ render_task(sub_task, scenario) | indent(4, false) }}
    {% endfor %}
    {% endif %}
}
{% endmacro %}