project {{info.project_id}} "{{info.project_name}}" {{info.start_date}} +{{info.project_duration}}d {
    timezone "{{info.timezone}}"
    {% if info.financial_unit %}
        {% if info.financial_unit == "ریال" %}
    currency "IRR"
        {% else %}
    currency "{{info.financial_unit}}"
        {% endif %}
    {% endif %}
        {% if info.status_date %}
    now {{info.status_date}}
        {% endif %}
        {% if calendar.working_days and calendar.working_hours %}
    workinghours {{calendar.working_days}} {{calendar.working_hours}}
        {% endif %}

    {% if scenarios %}
    scenario plan "Planned" {
        {% for scenario in scenarios %}
        scenario {{scenario.id}} "{{scenario.name}}"
        {% endfor %}
    }
    {% endif %}
    {% if tasks_extends %}
    extend task {
        {% for extend in tasks_extends %}
        {{ extend.type }} {{ extend.id }} "{{ extend.name }}"
        {% endfor %}
    }
    {% endif %}
        {% if resources_extends %}
    extend resource {
        {% for extend in resources_extends %}
        {{ extend.type }} {{ extend.id }} "{{ extend.name }}"
        {% endfor %}
    }
    {% endif %}
    {% if outputdir %}
    outputdir "{{ outputdir }}"
    {% endif %}
}


shift projectDefaultShift "project default shift" {
    {% if info.timezone %}
    timezone "{{ info.timezone }}"
    {% endif %}
    {% if calendar.working_hours and calendar.working_days %}
    workinghours {{calendar.working_days}} {{calendar.working_hours}}
    {% endif %}
}


{% if calendar.working_days_exceptions %}
leaves
holiday "Exception day" {{ calendar.working_days_exceptions | join(',\nholiday "Exception Day" ') }}
{% endif %}

{% if flags %}
flags
{{ flags | join(',\n') }}
{% endif %}

account projectCosts "costs of project" {
    {% for id, attributes in accounts.items() %}
    account {{ id }} "{{attributes['name']}}" { aggregate {{ attributes['aggregate'] }} }
    {% endfor %}
}


{% for parent_resource in resources %}
resource {{parent_resource['id']}} "{{parent_resource['name']}}" {
    {% if parent_resource.flags %}
    flags {{ parent_resource['flags'] | join(', ')}}
    {% endif %}
    {% for resource in parent_resource.child_resources %}
    resource {{resource.resource_id}} "{{resource.resource_name}}" {
        {% if resource.base_cost %}
        rate {{resource.base_cost}}
        {% endif %}
        {% if resource.overtime_cost %}
        OvertimeCost {{ resource.overtime_cost }}
        {% endif %}
        {% if resource.accrue_at %}
        AccrueAt "{{ resource.accrue_at }}"
        {% endif %}
        {% if resource.actual_cost %}
        ActualCost {{resource.actual_cost}}
        {% endif %}
        {% if resource.resource_type %}
        Type "{{ resource.resource_type }}"
        {% endif %}
{#        {% if resource.availability_date %}#}
{#        Availability {{ resource.availability_date | join(' - ') }}#}
{#        {% endif %}#}
        {% if resource.max_units %}
        efficiency {{resource.max_units}}
        {% endif %}
        {% if resource.allowed_leave %}
        leaveallowances annual {{info.start_date}} {{ resource.allowed_leave }}
        {% endif %}
        {% if resource.working_hours == calendar.working_hours and resource.working_days == calendar.working_days %}
        shifts projectDefaultShift
        {% else %}
        {% if resource.working_days and resource.working_hours %}
        workinghours {{resource.working_days}} {{resource.working_hours}}
        {% endif %}
        {% endif %}
        {% if resource.unavailability_date %}
        leaves annual {{resource.unavailability_date}}
{#        vacation {{ resource.unavailability_date }}#}
        {% endif %}
        {% if resource.working_hours_change %}
        WorkinghoursChange {{ resource.working_hours_change }}
        {% endif %}
        {% if resource.resource_group %}
        flags {{resource.resource_group}}
        {% endif %}
        {% if resource.cost_center %}
        chargeset {{resource.cost_center}}
        {% endif %}
    }
    {% endfor %}
}
{% endfor %}



{% for task in tasks %}
task {{ task.task_id }} "{{ task.task_name }}" {
    {% if task.milestone %}
    milestone
        {% if task.task_start_date %}
    start {{ task.task_start_date }}
        {% elif task.task_end_date %}
    end {{ task.task_end_date }}
        {% endif %}
    {% endif %}
{% if task.task_start_date and task.task_end_date and not task.milestone %}
    period {{ task.task_start_date }} - {{ task.task_end_date }}
{% elif not (task.task_start_date and task.task_end_date) and not task.milestone %}
    {% if task.task_start_date %}
    start {{ task.task_start_date }}
    {% elif task.task_end_date %}
    end {{ task.task_end_date }}
    {% endif %}
{% endif %}
    {% if task.work_duration and not(task.task_start_date and task.task_end_date) and not task.milestone %}
    duration {{ task.work_duration }}d
    {% endif %}
    {% if task.resource_assignment %}
    allocate {{ task.resource_assignment | join(', ') }}
    {% endif %}
{% if task.task_dependency %}
    depends {{ task.task_dependency | join(', ') }}
    {% if task.dependency_type in ['onstart','onend'] %}{
    {{task.dependency_type}}
    }
    {% endif %}
{% endif %}
{% if task.constraint_date and task.constraint_type %}
    {% if task.constraint_type == 'start_no_earlier_than' %}
    minstart {{ task.constraint_date }}
    {% endif %}
    {% if task.constraint_type == 'start_no_later_than' %}
    maxstart {{ task.constraint_date }}
    {% endif %}
    {% if task.constraint_type == 'finish_no_earlier_than' %}
    minend {{ task.constraint_date }}
    {% endif %}
    {% if task.constraint_type == 'finish_no_later_than' %}
    maxend {{ task.constraint_date }}
    {% endif %}
    {% if task.constraint_type == 'must_finish_on' %}
    minend {{ task.constraint_date }}
    maxend {{ task.constraint_date }}
    {% endif %}
    {% if task.constraint_type == 'must_start_on' %}
    minstart {{ task.constraint_date }}
    maxstart {{ task.constraint_date }}
    {% endif %}
{% endif %}
    {% if task.deadline %}
    Deadline {{task.deadline}}
    {% endif %}
    {% if task.priority %}
    priority {{ task.priority }}
    {% endif %}
    {% if task.task_linking %}
    flags {{ task.task_linking }}
    {% endif %}
    {% if task.chargeset %}
    chargeset {{ task.chargeset }}
    {% endif %}
    {% if task.task_cost %}
    charge {{ task.task_cost }} onend
    {% endif %}
    {% if task.summary_task %}
    note "{{ task.summary_task }}"
    {% endif %}
}

{% endfor %}